* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  padding: 30px;
  overflow: hidden;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input {
  border: 2px solid #f0f0f0;
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

button {
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}

button:hover {
  color: black;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px black;
}

small {
  visibility: hidden;
  position: absolute;
  bottom: -18px;
  left: 0;
  font-size: 12px;
}

.form-group.error input {
  border-color: #e74c3c;
}

.form-group.error small {
  color: #e74c3c;
  visibility: visible;
}

.form-group.success input {
  border-color: #2ecc71;
}
