/*
fog gray --> #e9e8e6
taupe brown --> #867969
*/

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e9e8e6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.text-container {
  width: 90vh;
  height: 20vh;
  background: #867969;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: white;
  margin-top: 50px;
  border-radius: 1rem;
  outline: none;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  /*that will make you able to add the white spaces in your text-container*/
  white-space: pre-wrap;
}

.text-container:hover {
  box-shadow: 0px 0px 10px 8px darkgray;
}

.keyboard:hover {
  box-shadow: 0px 0px 10px 8px #867969;
}

.keyboard {
  height: 50vh;
  width: 85vh;
  background: rgb(123, 52, 52);
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #e9e8e6;
  cursor: pointer;
}
.key:hover {
  color: black;
  background: white;
  border-radius: 2rem;
  padding: 3px;
  font-size: 1rem;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.space {
  width: 50%;
  height: 1.5rem;
  background-color: #e9e8e6;
  border-radius: 1rem;
}

.active {
  background-color: white;
  color: black;
  border-radius: 2rem;
  padding: 4px;
}
