* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.humburger {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.top-bar,
.middle-bar,
.bottom-bar {
  background-color: white;
  height: 2px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.humburger.active .top-bar {
  transform: rotate(45deg);
}

.humburger.active .middle-bar {
  transform: translateX(1rem);
  opacity: 0;
}

.humburger.active .bottom-bar {
  transform: rotate(-45deg);
}
