@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: linear-gradient(135deg, #83a8df, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: white;
  border: 2px solid lightblue;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  position: relative;
  padding-bottom: 0.5rem;
}

h1::after {
  /* the content property is used to display it without it 
    , will be a blacnk without any value*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  /*this will center the line correctly in the middle of the title*/
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #667eea;
  border-radius: 2px;
}

#generate-btn {
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#generate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}

#generate-btn:active {
  transform: translateY(0);
}

.palette-container {
  /*will make the items in it in the view of the columns and rows automatically*/
  display: grid;
  gap: 1rem;
  /*
  repeat --> repeat the column in specific amount of times
  auto-fit --> fill the row as much as you can 
  minmax() --> make the design more responsive 
  */
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.color-box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.color-box:hover {
  transform: translateY(-5px);
}

.color {
  height: 120px;
  cursor: pointer;
}

.color-info {
  background-color: #fff;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 0.9rem;
}
.hex-val {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn {
  cursor: pointer;
  color: #64748b;
  transition: color 0, 2s;
}

.copy-btn:hover {
  color: #667eea;
}

@media (max-width: 768px) {
  .palette-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
